			<div class="pagetitlebar">
				<div class="pagetitlebar-title">USERVERWALTUNG</div>
			</div>
			
			<div class="whitepagewrap">
            <?php echo $this->getContent() ?>
            <?php if(!empty($user_details)){?>
            	<form name="" action="http://95.85.46.129/administration/edit_user/<?php echo $user_details->id;?>" method="post">					
				<div style="float:left;width:333px;">
                	
                    <div class="smallwhitepageblueheader"></div>
					<div class="smallwhitepagegraybg">
						<div class="boxtitle">BENUTZERNAME</div>
						<div class="dropdownbox"><?php echo $user_details->username; ?></div>
					</div>
		                
					<div class="smallwhitepageblueheader"></div>
					<div class="smallwhitepagegraybg">
						<div class="boxtitle">PASSWORT</div>
                        <input type="text" name="new_password" value="" class="dropdownbox">
					</div>
                    <button type="submit" name="save_user" class="saveuserbutton" style="cursor:pointer; border:none;"></button>
				   </div>
				</form>
            <?php }elseif($this->session->has("user-role") && $this->session->get("user-role")=='master'){?>
			  <form name="" action="http://95.85.46.129/administration/save_users" method="post">					
				<div style="float:left;width:333px;">
					<div class="smallwhitepageblueheader"></div>
					<div class="smallwhitepagegraybg">
						<div class="boxtitle">BENUTZERNAME</div>
                        <input type="text" name="username" value="<?php echo @$_POST['username'];?>" class="dropdownbox">
					</div>
				
					<div class="smallwhitepageblueheader"></div>
					<div class="smallwhitepagegraybg">
						<div class="boxtitle">PASSWORT</div>
                                                <input type="text" name="password" value="" class="dropdownbox">
					</div>
					
                    <button type="submit" name="save_user" class="saveuserbutton" style="cursor:pointer; border:none;"></button>
				   </div>
				</form>
                <?php }?>
				<div class="adminuserbluetop" <?php if (@$this->session->get("user-role")!='master' && empty($user_details)){?> style="float:none;"<?php }?>></div>
				<div class="adminuserbg" <?php if (@$this->session->get("user-role")!='master' && empty($user_details)){?> style="float:none;"<?php }?>>
					<div class="adminusertitletext">USER LIST</div>
					<div class="adminuserwhitebg">
					<?php if(!empty($get_users)){
							foreach($get_users as $user){ ?>
						<div class="adminuserlist" id="user_<?php echo $user->id;?>">
							<div class="adminusername-text"><?php echo $user->username;?></div>
                            
                            <div style="float:right;">
                               
                                <?php if((!isset($user->type) || $user->type != "master") && $this->session->has("user-role") && $this->session->get("user-role")=='master'){?>
                                <a href="javascript:delRecord('<?php echo $user->id;?>')"><div class="userdelete"></div>
                                </a>
                                <?php }?>
                                
                            </div>
                            
                            <div style="float:right;">
                            	<?php if((!isset($user->type) || $user->type != "master") ||( @$user->type == "master" && @$this->session->get("user-role")=='master')){?>
                                <a href="http://95.85.46.129/administration/edit_user/<?php echo $user->id;?>"><div class="userlock"></div></a>
                                <?php }?>
                            </div>
						</div>
						<?php }}?>
					</div>
				</div>
              
			</div>
                        <div id="del_dialog" style="display: none;">
                            <p>Are you Sure Want to Delete this user?</p>
                        </div>
<script>

function delRecord(id)
{
    $('#del_dialog').dialog({
        modal: true,
        resizable: false,        autoOpen: true,

        title: 'Delete User',
        draggable: false,
        width: 'auto',
        buttons: {
                "Delete": function() {
                        $.ajax({
                               url: "http://95.85.46.129/administration/delete_user/"+id,
                               dataType: "json",
                               type: "POST",
                               data: {
                               },      
                               success: function( data ){ 
                                if(data.deleted== "sucss")
                                {
                                    $('#del_dialog').dialog('close');
                                    if($('.successMessage').length)
                                    {
                                        $('.successMessage').text(data.msg);
                                    }
                                    else
                                    {
                                        $('.whitepagewrap').prepend($('<div>').addClass('successMessage').text(data.msg));
                                    }
                                    
                                    $('#user_'+id).remove();
                                }
                           }
                        });
                },
                "Close": function() {
                    $('#del_dialog').dialog('close');
                }
            }
    });
}
</script>
