<?php
$temp_url = 'http://95.85.46.129/runningcampaigns/';
$temp_url2 = 'http://95.85.46.129/';

$is_admin = false;
if($this->session->get("user-role") !== "normal") {
    $is_admin = true;
}

$user_domains = $this->session->get("user-domains");
echo $this->getContent();

?>

<form action="<?php echo $temp_url; ?>export_csv" method="post">
    <div class="pagetitlebar">
        <div class="pagetitlebar-title">LAUFENDE KAMPAGNEN</div>
    </div>

    <div class="listtitlesubbar">
        <div class="analyticswebaddressbar">Kampagnenname</div>
    </div>
    <?php
    $i = 0;
    $popup_count = 0;
    if (!empty($get_campaigns)) {
        //enable export for everybody:
        $enabled_user_export = true;

        //enable or disable JS function for editing:
        $enabled_edit = false;
        if($is_admin) {
            $enabled_edit = true;
        }

        foreach ($get_campaigns as $camp) {
            $links = PagesToCampaign::find("unique_id = '$camp->unique_id'");
            $campaign_url = "";
            $campaign_keyword = "";
            $campaign_url_idx = "";

            foreach ($links as $link) {
                $campaign_url = $link->campaign_url;
                $campaign_url_idx = $link->DomainURLIDX;
                $campaign_keyword = $link->keywords;
            }

            //filter domains:
            if(!in_array($campaign_url_idx, $user_domains) and !$is_admin) {
                //continue;
                $edit_this_one = false;
            } else {
                $edit_this_one = true;
                $enabled_edit = true;
            }

            ?>
            <div class="resultslist" id="result_set_<?php echo $i; ?>">
                <div class="analyticslisturl" style="width:340px;border-right:none;">
                    <?php if ($edit_this_one or $is_admin) { ?>
                        <a style="float:left;" href="javascript:delRecord('<?php echo $camp->id; ?>', '<?php echo $i; ?>','Automated')">
                            <div class="userdelete"></div>
                        </a>
                    <?php } ?>
                    <?php echo $camp->Name; ?>
                </div>
                <a href="#site<?php echo $i; ?>" class="droparrow"></a>
            </div>

            <!-- begin drop list -->
            <div class="analyticsdroplist-bg" id="site<?php echo $i; ?>" style="display:none;">
                <div class="analyticsdroplist" style="width:100%;">
                    <div class="dropdownpr" style="width:698px;margin-top:15px;">
                        <div class="dropdownsub-titles">ENDE DATUM</div>
                        <div class="dropdownsub-results"><?php echo date('m/d/Y', strtotime($camp->EndDate)); ?></div>
                    </div>
                    <div class="dropdownil" style="width:698px;">
                        <div class="dropdownsub-titles">KAMPAGNE TYPE</div>
                        <div class="dropdownsub-results"><?php echo @$camp->CampaignType; ?></div>
                    </div>
                    <div class="dropdownil" style="width:698px;">
                        <div class="dropdownsub-titles">KEYWORD :</div>
                        <div class="dropdownsub-results"><?php
                            echo $campaign_keyword;
                            ?>
                        </div>
                    </div>

                </div>
                <div class="analyticsdroplist" style="width:100%;">
                    <div class="analyticslisturl" style="width:690px;border-right:none;">KAMPAGNE für :<?php echo $campaign_url; ?></div>
                </div>
                <?php
                foreach ($links as $link) {
                    ?>
                    <?php $popup_count = $popup_count + 1; ?>
                    <div class="analyticsdroplist" style="width:100%;">
                        <div class="analyticslisturl" style="width:690px;border-right:none;"><?php echo $link->main_url; ?></div>
                        <?php if ($edit_this_one or $is_admin) { ?>
                            <a href="#" class="setuplinksbutton" style="margin-right:15px !important;" data-reveal-id="setuplinksModal<?php echo $popup_count; ?>" data-animation="none"></a>
                        <?php } ?>
                    </div>
                    <div id="setuplinksModal<?php echo $popup_count ?>" class="reveal-modal">
                        <div class="modal-blueheadline"></div>
                        <div class="modal-midline">
                            <div class="modal-midlinetext">Wählen Sie alle zutreffenden:</div>
                        </div>

                        <div class="modal-setuplinksarea">
                            <div class="modallistwrap">
                                <div class="modal-setupbox" style="margin-bottom:35px;margin-top:15px;">
                                    <div class="modallisttext" style="margin-top:-14px;line-height:0px;margin-left:0px;">anchor text…</div>
                                    <input type="textbox" id="textbox_anchor_text<?php echo $popup_count ?>" class="modal-setupboxone" name="textbox_anchor_text<?php echo $popup_count ?>" value="<?php echo utf8_decode(@$link->achor_text) ?>">
                                </div>
                                <div class="modal-setupbox" style="margin-bottom:35px;">
                                    <div class="modallisttext" style="margin-top:-14px;line-height:0px;margin-left:0px;">image url…</div>
                                    <input type="textbox" id="textbox_image_url<?php echo $popup_count ?>" class="modal-setupboxone" name="textbox_image_url<?php echo $popup_count ?>" value="<?php echo @$link->image_url ?>">
                                </div>
                                <div class="modal-setupbox" style="margin-bottom:10px;">
                                    <div class="modallisttext" style="margin-top:-14px;line-height:0px;margin-left:0px;">youtube video ID</div>
                                    <input type="textbox" id="textbox_video_url<?php echo $popup_count ?>" class="modal-setupboxone" name="textbox_video_url<?php echo $popup_count ?>" value="<?php echo @$link->video_url ?>">
                                </div>
                                <div class="modallisttext">HTML embed</div>
                                <div class="modal-setupbox" style="height:150px;margin-bottom:0px;">
                                    <textarea name="textbox_html<?php echo $popup_count ?>" id="textbox_html<?php echo $popup_count ?>" class="modal-setupboxtwo ckeditor"><?php echo utf8_decode(@$link->html_embed) ?></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-bottomline">
                            <div class="close-reveal-modal modal-savecontent" id="<?php echo @$link->id ?>" data-id="<?php echo $popup_count ?>">
                                <div class="modalcheckbox"></div>
                            </div>
                        </div>
                    </div>
                <?php } ?>

            </div><!-- analyticsdroplist-bg -->
            <!-- end drop list -->

            <?php $i++;
        }
    } ?>

    <div class="underlistbar"></div>
    <?php if($enabled_user_export){?>
    <button type="submit" class="exportcsvbutton" style="cursor:pointer;"></button>
    <?php } else echo "No data for export.";?>
</form>
<div id="del_dialog" style="display: none;">
    <p>Sind Sie sicher, will diese Kampagne löschen?</p>
</div>


<script type="text/javascript" src="<?php echo $temp_url2 ?>js/jquery.reveal2.js"></script>


<?php if ($enabled_edit) { ?>
    <script>
        function delRecord(id, temp_id, campaign_type) {
            $('#del_dialog').dialog({
                autoOpen: true,
                modal: true,
                resizable: false,
                title: 'löschen KAMPAGNE',
                draggable: false,
                width: 'auto',
                buttons: {
                    "löschen": function () {
                        $.ajax({
                            url: "<?php echo $temp_url;?>delete_campaign/" + id + "/" + campaign_type,
                            dataType: "json",
                            type: "POST",
                            data: {
                            },
                            success: function (data) {
                                if (data.deleted == "sucss") {
                                    $('#result_set_' + temp_id).remove();
                                    $('#site' + temp_id).remove();
                                    $('#del_dialog').dialog('close');
                                }
                            }
                        });
                    },
                    "schließen": function () {
                        $('#del_dialog').dialog('close');
                    }
                }
            });
        }
        $('.modal-savecontent').click(function () {
            var confrm = confirm("Are you sure you want to save the changes?");
            if (confrm) {
                var id = $(this).attr('id');
                var data_id = $(this).attr('data-id');
                var achor_text = document.getElementById('textbox_anchor_text' + data_id).value;
                var image_url = document.getElementById('textbox_image_url' + data_id).value;
                var video_url = document.getElementById('textbox_video_url' + data_id).value;
                var html_embed = CKEDITOR.instances['textbox_html' + data_id].getData();
                $.post('<?php echo $temp_url?>update_rcampaign_pages', {id: "" + id + "", achor_text: "" + achor_text + "", image_url: "" + image_url + "", video_url: "" + video_url + "", html_embed: "" + html_embed + ""}, function (data) {
                    alert(data);
                });
            }
        });

        $('.modal-savecontent-manual').click(function () {
            var confrm = confirm("Are you sure you want to save the changes?");
            if (confrm) {
                var id = $(this).attr('id');
                var data_id = $(this).attr('data-id');
                var achor_text = document.getElementById('textbox_anchor_text' + data_id).value;
                var image_url = document.getElementById('textbox_image_url' + data_id).value;
                var video_url = document.getElementById('textbox_video_url' + data_id).value;
                var backlink_url = document.getElementById('textbox_backlink' + data_id).value;
                $.post('<?php echo $temp_url?>update_rcampaign_manual_pages', {id: "" + id + "", achor_text: "" + achor_text + "", image_url: "" + image_url + "", video_url: "" + video_url + "", backlink_url: "" + backlink_url + ""}, function (data) {
                    alert(data);
                });
            }
        });

    </script>
<?php } ?>
<script type="text/javascript">
    $('.ckeditor').ckeditor();
</script>